
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


body {
 
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
    box-sizing: border-box;
}

.Destaque_Titulo{
    color:var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;

}
.apresentacao__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;    
}
.links{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.links_link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}
.cabecalho{
    display: flex;
    padding: 2% 0% 0% 15%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    gap: 80px;
    color: var(--cor-terciaria);
    text-decoration: none;
   
}
.links_link:hover {
    background-color:var(--cor-hover);
}
.RosaPe{
    color:var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.Apresentacao_imagem { 

width: 50%;

}
@media (max-width: 1200px) {
    
    
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}
